logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

GUI/node_modules
GUI/dist
GUI/dist-ssr
GUI/*.local

/Worker/data.json
/Worker/target/
/Worker/Cargo.lock

/Server/target/
/Server/Cargo.lock
